*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #222;
}
body.on{
    background: radial-gradient(#555, #111);
}
.wire{
    position :absolute;
    left: calc(50% - 2px);
    bottom: 50%;
    height:60vh;
    width: 4px;
    background: #000;
    }
.bulb{
    height: 80px;
    background:transparent;
    z-index: 2;


}
.bulb i{
    
     font-size: 4rem;
     color: #444;
     position: absolute;
     top :50%;
     left:50%;
     transform: translate(-50%, -50%) rotate(180deg);
     
}
.switch{
    position: absolute;
    top: 10%;
    width: 40px;
    right: 100px;
    height: 40px;
    background: #ccc;
    border-radius: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow:grey 0 0 10px 15px -5px;
}
switch i{
    font-size: 1.5rem  ;
}
.on .bulb i{
    color: #ff0;
    text-shadow: 0 0 10px #ff0, 0 0 20px #ff0, 0 0 30px #ff0, 0 0 40px #ff0, 0 0 50px #ff0, 0 0 60px #ff0, 0 0 70px #ff0;
}
.on .switch {
    background: rgb(13, 244, 90);
    box-shadow: 0 0 10px 15px -5px #ff0;
}
/* .on .wire{
    background: #ff0;
    box-shadow: 0 0 10px 15px -5px #ff0;
} */